/* styles.css */

/* Header styles */
.header {
  background-color: #dfdbdb;
  padding: 1rem 0;
  border-radius: 0rem; /* Rounded corners */
  color:#302f2f;
  text-transform: capitalize;
  font-family: 'Roboto Mono', monospace;
  font-variant-numeric: slashed-zero;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  font-variant-numeric: slashed-zero;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.nav-item {
  flex: 1;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  color: #302f2f;
  background: linear-gradient(to right, #068b08, #149911, #63ba25);
  transition: background-color 0.3s ease;
  border-radius: 0.5rem; /* Rounded corners */
  margin-left: 2rem;
  margin-right: 2rem;
}

.nav-item:hover {
  background: linear-gradient(to right, #057507, #128910, #58a621);
}

.nav-item:focus {
  outline: none;
}

/* Feature item styles */
.features {
    background-color: #dfdbdb00;
    color: #050202;
    text-decoration: underline;
    font-size: 2rem;
    padding: 0.4rem;
    align-items: center;
    justify-items: stretch;
    margin: 0.8rem;
  }

  .feature-item {
    background-color: #8a5f16;
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    transition: background-color 0.3s ease;
    height: 10rem; /* Fixed height for feature items */
    overflow: hidden; /* Hide overflow content */
    margin: 2rem;
  }
  
  .feature-item:hover {
    background-color: #775212;
  }
  
  .feature-item h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-justify: auto;
  }
  
  .feature-item p {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Show ellipsis for overflow text */
    white-space: nowrap; /* Prevent wrapping */
    margin-bottom: 1rem;
  }

/* Footer styles */
.footer {
  background-color: #333;
  color: #dfdbdb;
  padding: 2rem 0;
  text-align: center;
  border-radius: 0.5rem; /* Rounded corners */
}

body {
    background-color: #dfdbdb; /* Dark gray background */
    background-image: linear-gradient(rgba(26, 161, 60, 0.1) 1px, transparent 1px), linear-gradient(90deg, rgba(26, 161, 60, 0.1) 1px, transparent 1px); /* Faint grid lines */
    background-size: 2rem 2rem; /* Adjust grid size */
  }